body.index
{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}
div.recuadro
{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -15px;
}
header.header_index
{
    margin-bottom: 15px;
}
img.ing
{
    padding-left: 70px;
    margin-top: 10px;
}
img.tel
{
    height: 40px;
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}
section.section_index
{
    background-color: #f0f0f0;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    position: relative;
}
div.formulario
{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
}
h4.area_clientes
{
    font-size: 24px;
    font-weight: lighter;
}
h5.h5_form
{
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: -10px;
}
div.margen
{
    margin-left: 35px;
}
img.leon
{
position: absolute;
right: 0px;
bottom: 0px;
width: 40%;
}
.boton
{
    color: white;
    background-color: #ff6200;
    width: 89%;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
}
a
{
    color: #333333;
    text-decoration: underline gray;
}
span.naranja
{
    color: #ff6200;
    font-size: 20px;
    font-weight: bold;
}
input[type="radio"]:checked::after
{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    top: -1.3px;
    left: 2px;
    position: relative;
    background-color: #ff6200;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.checkbox input:checked
{
    background-color: white;
    color: #ff6200;
}
img.interrogante
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.br
{
    height: 15%;
}
body.form2
{
    background-color: #f0f0f0;
    margin-left: 15%;
    margin-right: 15%;
    font-family: sans-serif;
}
button.boton_bankinter
{
    font-family: sans-serif;
    border-radius: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: #f96a00;
    border-color: #f96a00;
    border: 1px solid;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
button.boton_bankinter:hover
{
    background-color: #f96a00;
    color: #f0f0f0;
}
button.invitacion
{
    padding-left: 50px;
    padding-right: 50px;
}
button.ayuda
{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
}
img.bankinter
{
    width: 15%;
}
h2.cliente
{
    font-size: 35px;
    font-weight: 100;
    margin-top: 5%;
}
h3.usuario
{
    font-weight: 100;

}
input.nombre
{
    width: 30%;
    height: 50px;
    border-color: grey;
    border-radius: 5px;
}